h3 {
  font-size: x-large;
  color: #082854;
}
//.form-group {
//  span {
//    background: #B1B5C3;
//    -webkit-background-clip: text;
//    -webkit-text-fill-color: transparent;
//  }
//}
.btn-action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    border: 2px solid #082854;
    box-sizing: border-box;
    border-radius: 40px;
    color: #082854;
    padding: 6px 24px;
    background: #ffff;
    font-size: 16px;
    font-weight: bold;
  }
  .btn-submit {
    background: linear-gradient(
                    85.11deg
            , #1D4289 0%, #00B74F 80.53%);
    color: #fff;
  }
}
