h3 {
  font-size: x-large;
  color: #082854;
}

.btn-action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    border: 2px solid #082854;
    box-sizing: border-box;
    border-radius: 40px;
    color: #082854;
    padding: 6px 24px;
    background: #ffff;
    font-size: 16px;
    font-weight: bold;
  }
  .btn-submit {
    background: linear-gradient(
                    85.11deg
            , #1D4289 0%, #00B74F 80.53%);
    color: #fff;
  }
}
.form-step-2 {
  .step-2-question {
    font-weight: 800;
    font-size: 14px;
    line-height: 24px;
    color: #697883;
  }
  .participation-confirm {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #082854;
  }
  .custom-label-toggle {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #082854;
  }
}

