@import "mixin";
h3 {
  font-size: x-large;
  color: #082854;
}

.btn-action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    border: 2px solid #082854;
    box-sizing: border-box;
    border-radius: 40px;
    color: #082854;
    padding: 6px 24px;
    background: #ffff;
    font-size: 16px;
    font-weight: bold;
  }
  .btn-submit {
    background: linear-gradient(
                    85.11deg
            , #1D4289 0%, #00B74F 80.53%);
    color: #fff;
  }
}
.price-field {
  input {
    font-weight: bold;
  }
}
.form-step-2 {
  .step-2-question {
    font-weight: 800;
    font-size: 14px;
    line-height: 24px;
    color: #697883;
  }
  .participation-confirm {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #082854;
  }
  .step-2-money {
    input {
      font-weight: bold;
    }
  }
  #box-btn-confirm {
    .btn-confirm-custom {
      width: 80px;
      border: 2px solid #082854;
      border-radius: 40px;
      color: #082854;
      background: #ffffff;
      font-weight: bold;
      margin-right: 10px;
    }
    .active {
      background: linear-gradient(85.11deg, #1D4289 0%, #00B74F 80.53%);
      color: #ffffff;
    }
  }
}
.form-neo-login {
  .forget-password {
    margin: auto 0;
    @include MAX_768 {
      display: flex;
      justify-content: center;
    }
    a {
      color: #00B74F;
      text-decoration: none;
    }
  }
}
.form-neo-pay {
  input {
    font-weight: bold;
  }
}

