.simple-number-filed {
  label {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #B1B5C3;
  }
  .rw-widget-container {
    min-height: 48px;
    font-size: medium;
    border-radius: 12px;
    //.rw-widget-input {
    //  text-align: center;
    //}
  }
  .rw-select-bordered {
    display: none;
  }
}
