.selected-field-example {
  label {
    font-weight: 500;
    font-size: 12px;
  }
  .error-select {
    background-image: url("../img/icon-x.svg");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    .react-select__indicators {
      display: none;
    }
    .react-select__control {
      border: 2px solid #E10600
    }
  }

  .success-select {
    background-image: url("../img/icon-y.svg");
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    .react-select__indicators {
      display: none;
    }
    .react-select__control {
      border: 2px solid #00B74F
    }
  }


  .react-select__control {
    border-radius: 12px;
    background-color: unset;
    .react-select__value-container {
      height: 48px;

      &:hover {
        border: unset;
      }
    }
    .react-select__indicators {
      .react-select__indicator-separator {
        display: none;
      }
      .react-select__dropdown-indicator {
        border-radius: 50%;
        border: 1px solid;
        margin-right: 10px;
      }
    }
  }
  .react-select__control--is-disabled {
    background-color: #e9ecef;
  }

}



